<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="OrigSubFolder" value="original"/>
      <add key="RecognizedSubFolder" value="recognized"/>
      <add key="UnrecognizedSubFolder" value="unrecognized"/>
      <add key="TrashSubFolder" value="trash"/>
      <add key="StructsFileName" value="DocumentStructs.xml"/>
      <add key="SupportedFiles" value="*.jpg,*.jpe,*.jpeg,*.png,*.bmp"/>
      <!--<add key="IsSaveResizedImage" value="0"/>-->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
