<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="WorkingFolderWithFiles" value="\\s-bdc-win2003r2\qr\test"/>
      <add key="DocumentProcessingFileExe" value="DocumentProcessing.exe"/>
      <add key="Interval" value="45"/>
      <add key="IntervalUnit" value="1"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
